<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services | Your Architect Business</title>
    <link rel="stylesheet" href="/services.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Josefin+Slab:ital,wght@0,400;0,600;1,300;1,400;1,600&family=Muli:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap"
      rel="stylesheet"
    />
</head>
<body>
    <header>
        <h1>Our Services</h1>
        <nav>
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/services" class="active">Services</a></li>
            </ul>
        </nav>
    </header>

    <section class="services">
        <h2></h2>
        <span></span>
        <div class="service">
            <h3>Interior Design</h3>
            <p>We offer expert interior design services tailored to your needs and preferences. Our team will work closely with you to create stunning and functional interior spaces.</p>
        </div>
        <div class="service">
            <h3>Space Planning</h3>
            <p>Maximize the potential of your space with our space planning services. Whether it's residential or commercial, we'll help you make the most out of every square foot.</p>
        </div>
        <div class="service">
            <h3>Color Consultation</h3>
            <p>Choosing the right colors can make a big difference in the look and feel of your space. Let our experts guide you through the color selection process to achieve the perfect ambiance.</p>
        </div>
    </section>

    <footer>
        <p>&copy; Copyright © 2024, Dhruv Jain - All Rights Reserved.</p>
    </footer>
</body>
</html>