<link rel="stylesheet" href="./testimonial.css">

<div class="outerdiv">
    <div class="innerdiv">
      <!-- div1 -->
      <div class="div1 eachdiv">
        <div class="userdetails">
          <div class="imgbox">
            <img src="./images/user1.png" alt="">
          </div>
          <div class="detbox">
            <p class="name">Sai</p>
            <p class="designation">Famous Business person</p>
          </div>
        </div>
        <div class="review">
          <h4>I received there best-offers, and the services they offered were excellent. I honestly feel I got every penny’s worth.</h4>
        <p>“ I was looking for interior design. I’ve been looking to make a transition to my home and have heard some people who had an amazing experience with these guys. I signed up for the free service and found it incredibly well! I asked for there services thereafter. These guys are literally the best. After the completion vibe of my home completely changed, it's awesome. ”</p>
        </div>
      </div>
      <!-- div2 -->
      <div class="div2 eachdiv">
        <div class="userdetails">
          <div class="imgbox">
            <img src="./images/user-5.jpg" alt="">
          </div>
          <div class="detbox">
            <p class="name">Anurag Negi</p>
            <p class="designation">Documentary Enthusiast</p>
          </div>
        </div>
        <div class="review">
          <h4>Documented Bliss: My Home Transformed into a Storytelling Sanctuary!</h4>
        <p>“ I'm always drawn to captivating stories and immersive experiences.  That's exactly what these design masters brought to my home!.”</p>
        </div>
      </div>
      <!-- div3 -->
      <div class="div3 eachdiv">
        <div class="userdetails">
          <div class="imgbox">
            <img src="./images/user-2.png" alt="">
          </div>
          <div class="detbox">
            <p class="name dark">Anshika</p>
            <p class="designation dark">Reputed Software developer</p>
          </div>
        </div>
        <div class="review dark">
          <h4>Such a life-changing experience. Highly recommended!</h4>
          <p>“ "I wasn't sure how to improve the look and feel of my home office, but your team's design expertise and attention to detail transformed it into a truly inspiring space. Now I can focus and be productive throughout the workday! They helped me create a calm, organized environment that eliminated clutter and distractions. They even incorporated ergonomic considerations to prevent fatigue and back pain, which is a huge plus as a developer who sits for long periods." ”</p>
        </div>
      </div>
      <!-- div4 -->
      <div class="div4 eachdiv">
        <div class="userdetails">
          <div class="imgbox">
            <img src="./images/user-3.jpg" alt="">
          </div>
          <div class="detbox">
            <p class="name dark">Parth Dhavan
            <p class="designation dark">Famous-Footballer</p>
          </div>
        </div>
        <div class="review dark">
          <h4>An overall wonderful and rewarding experience</h4>
        <p>“ From the calming color scheme to the ergonomic furniture, every detail was carefully considered.  Now, I can truly recharge at home and come back stronger than ever.”</p>
        </div>
      </div>
      <!-- div5 -->
      <div class="div5 eachdiv">
        <div class="userdetails">
          <div class="imgbox">
            <img src="./images/user-4.jpg" alt="">
          </div>
          <div class="detbox">
            <p class="name">Rushil Alagh</p>
            <p class="designation">Famous Comedian</p>
          </div>
        </div>
        <div class="review">
          <h4>From Laugh-Attack to Room Revamp: My Hilarious Home Makeover!.</h4>
        <p>“ Let me tell you, folks, I've seen some strange things on the road, but my place before these design wizards got their hands on it was a real doozy. Dark corners, mismatched furniture – it was like a punchline waiting to happen.Best part? They even incorporated some hidden jokes into the design. Let's just say, visitors get a real kick out of finding them. If you're a fellow comedian or just someone who wants a home that makes you smile, I can't recommend these folks enough. ”</p>
        </div>
      </div>
    </div>
  </div>